h1 {
  color: #326dee;
  margin-bottom: 0.75rem;
}

a {
  color: #1ac888;
}

button {
  color: white;
  border: 0;
  background: #326dee;
  border-radius: 20px;
  border-width: 1px;
}

.error {
  color: #935bd3;
  border-color: #935bd3;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
}

.notification {
  color: #1ac888;
  border-color: #1ac888;
}

.text-primary {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-primary-light-1 {
  color: #477cf0;
}

.bg-primary-light-1 {
  color: #477cf0;
}

.text-primary-light-2 {
  color: #5b8af1;
}

.bg-primary-light-2 {
  color: #5b8af1;
}

.text-primary-light-3 {
  color: #7099f3;
}

.bg-primary-light-3 {
  color: #7099f3;
}

.text-primary-light-4 {
  color: #84a7f5;
}

.bg-primary-light-4 {
  color: #84a7f5;
}

.text-primary-light-5 {
  color: #99b6f7;
}

.bg-primary-light-5 {
  color: #99b6f7;
}

.text-primary-light-6 {
  color: #adc5f8;
}

.bg-primary-light-6 {
  color: #adc5f8;
}

.text-primary-light-7 {
  color: #c2d3fa;
}

.bg-primary-light-7 {
  color: #c2d3fa;
}

.text-primary-light-8 {
  color: #d6e2fc;
}

.bg-primary-light-8 {
  color: #d6e2fc;
}

.text-primary-light-9 {
  color: #ebf0fd;
}

.bg-primary-light-9 {
  color: #ebf0fd;
}

.text-secondary {
  color: #1ac888;
}

.bg-secondary {
  background-color: #1ac888;
}

.text-secondary-light-1 {
  color: #31ce94;
}

.bg-secondary-light-1 {
  color: #31ce94;
}

.text-secondary-light-2 {
  color: #48d3a0;
}

.bg-secondary-light-2 {
  color: #48d3a0;
}

.text-secondary-light-3 {
  color: #5fd9ac;
}

.bg-secondary-light-3 {
  color: #5fd9ac;
}

.text-secondary-light-4 {
  color: #76deb8;
}

.bg-secondary-light-4 {
  color: #76deb8;
}

.text-secondary-light-5 {
  color: #8de4c4;
}

.bg-secondary-light-5 {
  color: #8de4c4;
}

.text-secondary-light-6 {
  color: #a3e9cf;
}

.bg-secondary-light-6 {
  color: #a3e9cf;
}

.text-secondary-light-7 {
  color: #baefdb;
}

.bg-secondary-light-7 {
  color: #baefdb;
}

.text-secondary-light-8 {
  color: #d1f4e7;
}

.bg-secondary-light-8 {
  color: #d1f4e7;
}

.text-secondary-light-9 {
  color: #e8faf3;
}

.bg-secondary-light-9 {
  color: #e8faf3;
}

.text-error {
  color: #935bd3;
}

.bg-error {
  background-color: #935bd3;
}

.text-error-light-1 {
  color: #9e6bd7;
}

.bg-error-light-1 {
  color: #9e6bd7;
}

.text-error-light-2 {
  color: #a97cdc;
}

.bg-error-light-2 {
  color: #a97cdc;
}

.text-error-light-3 {
  color: #b38ce0;
}

.bg-error-light-3 {
  color: #b38ce0;
}

.text-error-light-4 {
  color: #be9de5;
}

.bg-error-light-4 {
  color: #be9de5;
}

.text-error-light-5 {
  color: #c9ade9;
}

.bg-error-light-5 {
  color: #c9ade9;
}

.text-error-light-6 {
  color: #d4bded;
}

.bg-error-light-6 {
  color: #d4bded;
}

.text-error-light-7 {
  color: #dfcef2;
}

.bg-error-light-7 {
  color: #dfcef2;
}

.text-error-light-8 {
  color: #e9def6;
}

.bg-error-light-8 {
  color: #e9def6;
}

.text-error-light-9 {
  color: #f4effb;
}

.bg-error-light-9 {
  color: #f4effb;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-info-light-1 {
  color: #f7c933;
}

.bg-info-light-1 {
  color: #f7c933;
}

.text-info-light-2 {
  color: #f8cf49;
}

.bg-info-light-2 {
  color: #f8cf49;
}

.text-info-light-3 {
  color: #f9d560;
}

.bg-info-light-3 {
  color: #f9d560;
}

.text-info-light-4 {
  color: #fadb77;
}

.bg-info-light-4 {
  color: #fadb77;
}

.text-info-light-5 {
  color: #fbe18e;
}

.bg-info-light-5 {
  color: #fbe18e;
}

.text-info-light-6 {
  color: #fbe7a4;
}

.bg-info-light-6 {
  color: #fbe7a4;
}

.text-info-light-7 {
  color: #fcedbb;
}

.bg-info-light-7 {
  color: #fcedbb;
}

.text-info-light-8 {
  color: #fdf3d2;
}

.bg-info-light-8 {
  color: #fdf3d2;
}

.text-info-light-9 {
  color: #fef9e8;
}

.bg-info-light-9 {
  color: #fef9e8;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-blue-light-1 {
  color: #3030e9;
}

.bg-blue-light-1 {
  color: #3030e9;
}

.text-blue-light-2 {
  color: #4747eb;
}

.bg-blue-light-2 {
  color: #4747eb;
}

.text-blue-light-3 {
  color: #5e5eee;
}

.bg-blue-light-3 {
  color: #5e5eee;
}

.text-blue-light-4 {
  color: #7575f0;
}

.bg-blue-light-4 {
  color: #7575f0;
}

.text-blue-light-5 {
  color: #8c8cf3;
}

.bg-blue-light-5 {
  color: #8c8cf3;
}

.text-blue-light-6 {
  color: #a3a3f5;
}

.bg-blue-light-6 {
  color: #a3a3f5;
}

.text-blue-light-7 {
  color: #babaf8;
}

.bg-blue-light-7 {
  color: #babaf8;
}

.text-blue-light-8 {
  color: #d1d1fa;
}

.bg-blue-light-8 {
  color: #d1d1fa;
}

.text-blue-light-9 {
  color: #e8e8fd;
}

.bg-blue-light-9 {
  color: #e8e8fd;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-black-light-1 {
  color: #1a1a1a;
}

.bg-black-light-1 {
  color: #1a1a1a;
}

.text-black-light-2 {
  color: #333333;
}

.bg-black-light-2 {
  color: #333333;
}

.text-black-light-3 {
  color: #4d4d4d;
}

.bg-black-light-3 {
  color: #4d4d4d;
}

.text-black-light-4 {
  color: #666666;
}

.bg-black-light-4 {
  color: #666666;
}

.text-black-light-5 {
  color: gray;
}

.bg-black-light-5 {
  color: gray;
}

.text-black-light-6 {
  color: #999999;
}

.bg-black-light-6 {
  color: #999999;
}

.text-black-light-7 {
  color: #b3b3b3;
}

.bg-black-light-7 {
  color: #b3b3b3;
}

.text-black-light-8 {
  color: #cccccc;
}

.bg-black-light-8 {
  color: #cccccc;
}

.text-black-light-9 {
  color: #e6e6e6;
}

.bg-black-light-9 {
  color: #e6e6e6;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-white-light-1 {
  color: white;
}

.bg-white-light-1 {
  color: white;
}

.text-white-light-2 {
  color: white;
}

.bg-white-light-2 {
  color: white;
}

.text-white-light-3 {
  color: white;
}

.bg-white-light-3 {
  color: white;
}

.text-white-light-4 {
  color: white;
}

.bg-white-light-4 {
  color: white;
}

.text-white-light-5 {
  color: white;
}

.bg-white-light-5 {
  color: white;
}

.text-white-light-6 {
  color: white;
}

.bg-white-light-6 {
  color: white;
}

.text-white-light-7 {
  color: white;
}

.bg-white-light-7 {
  color: white;
}

.text-white-light-8 {
  color: white;
}

.bg-white-light-8 {
  color: white;
}

.text-white-light-9 {
  color: white;
}

.bg-white-light-9 {
  color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
  background-color: aqua;
}